[Unit]
Description=Combustion
DefaultDependencies=false

# /sysroot needs to be available, but it's temporarily stopped
# for remounting so a direct requirement is not possible
Requires=initrd-root-device.target
After=initrd-root-device.target

# combustion-prepare sets up network, if required
Requires=combustion-prepare.service
After=combustion-prepare.service

# Optionally make network available
After=network-online.target
# This can be pulled in unconditionally:
# The services provided by NM have a condition on neednet.
Wants=network-online.target

# After ignition completed its stuff
After=ignition-complete.target

# So that /etc/fstab's x-initrd.mount entries are read (again) later
Before=initrd-parse-etc.service

# Without DefaultDependencies the target would be reached without us
Before=firstboot.target

Conflicts=initrd-switch-root.target umount.target
Conflicts=dracut-emergency.service emergency.service emergency.target

[Service]
Type=oneshot
ExecStart=/usr/bin/combustion --complete

[Install]
RequiredBy=firstboot.target
