# SPDX-FileCopyrightText: 2024 SUSE LLC
# SPDX-License-Identifier: GPL-2.0-or-later

# It's not possible to wait for one of multiple devices to appear, so
# introduce a dev-combustion-config.device unit as alias to the actual device(s).
# This is only used for the .service dependencies.

# Filesystems with either combustion or ignition as label
ACTION!="remove", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="combustion", ENV{SYSTEMD_ALIAS}+="/dev/combustion/config"
ACTION!="remove", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="COMBUSTION", ENV{SYSTEMD_ALIAS}+="/dev/combustion/config"
ACTION!="remove", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="ignition", ENV{SYSTEMD_ALIAS}+="/dev/combustion/config"
ACTION!="remove", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="IGNITION", ENV{SYSTEMD_ALIAS}+="/dev/combustion/config"
# These can be used as config source as well, but they cannot be used as providers for
# /dev/combustion/config, as some other config source with higher priority might show up later.
#ACTION!="remove", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="install", ENV{SYSTEMD_ALIAS}+="/dev/combustion/config"
#ACTION!="remove", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="INSTALL", ENV{SYSTEMD_ALIAS}+="/dev/combustion/config"
# QEMU fw_cfg blob with key opt/org.opensuse.combustion
# There are add events for keys inside fw_cfg, but they are unreliable: https://github.com/systemd/systemd/issues/28638
# Using the platform device with add|bind does not work with TAG+="systemd" for some reason, so use the module...
ACTION!="remove", SUBSYSTEM=="module", KERNEL=="qemu_fw_cfg", TEST=="/sys/firmware/qemu_fw_cfg/by_name/opt/org.opensuse.combustion", ENV{SYSTEMD_ALIAS}+="/dev/combustion/config", TAG+="systemd"
# VMware guestinfo value. Using sh allows PATH lookup traversal and checking for nonempty stdout without logging the value.
ACTION!="remove", DEVPATH=="/devices/virtual/misc/vmci", PROGRAM=="/bin/sh -c '[ $$(vmware-rpctool \"info-get guestinfo.combustion.script\" | wc -c) -gt 2 ]'", ENV{SYSTEMD_ALIAS}+="/dev/combustion/config", TAG+="systemd"
