[Unit]
Description=Combustion (preparations)
DefaultDependencies=false

# Config drive has to be available
Wants=dev-combustion-config.device
After=dev-combustion-config.device

# If both Ignition and Combustion are active make sure to run their
# configuration scripts sequentially, as both try to mount the configuration
# device
After=ignition-setup-user.service

# This reconfigures networking, which runs during the initqueue (wicked)
# or has its own service (NM)
Before=dracut-initqueue.service nm-initrd.service

Conflicts=initrd-switch-root.target umount.target
Conflicts=dracut-emergency.service emergency.service emergency.target

[Service]
Type=oneshot
ExecStart=/usr/bin/combustion --prepare
