[Unit]
Description=Detect Firstboot
DefaultDependencies=no

# In this mode, the zipl initrd uses grub2-emu to kexec the real kernel
# and initrd. Don't run there, only in the real initrd (bsc#1218065).
ConditionKernelCommandLine=!initgrub

# This needs /sysroot to be mountable
Requires=systemd-fsck-root.service
After=systemd-fsck-root.service

# But before it's actually mounted
Before=sysroot.mount

# Make sure this is stopped before switch root or emergency:
# https://github.com/systemd/systemd/issues/3436
Conflicts=initrd-switch-root.target umount.target
Conflicts=dracut-emergency.service emergency.service emergency.target

[Service]
Type=oneshot
RemainAfterExit=yes
# This has to mount /sysroot as /sysroot, but starting sysroot.mount would
# screw up ordering
PrivateMounts=true
# Work around https://github.com/systemd/systemd/issues/28723
TemporaryFileSystem=/run/mount
ExecStart=/usr/bin/firstboot-detect

[Install]
RequiredBy=initrd.target
